.fileModal[open] {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 750px;
	max-width: 90%;
	height: 500px;
	max-height: 80%;
	border: none;
	outline: 1px solid var(--darkgray);
}

.fileModal[open]::backdrop {
	filter: blur(10px);
	background: var(--transparent-black);
}

.fileModal header {
	display: flex;
	height: fit-content;
	background: var(--lightgray);
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 5px;
}

.fileModal header h2 {
	max-width: 90%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.fileModal main {
	display: flex;
	width: 100%;
	padding: 20px;
	max-height: calc(100% - 30px);
	flex-grow: 1;
}

.menu {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	justify-content: space-between;
	padding-block: 30px;
}

.actions {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: min-content;
	padding-inline: 25%;
}

.action {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 15px 5px 15px;
	margin-top: 10px;
	color: var(--darkgray);
	outline: 1px solid var(--darkgray);
	text-decoration: none;
	font-size: 10pt;
}

button.action {
	border: none;
	background: transparent;
	cursor: pointer;
}

.closeButton {
	aspect-ratio: 1 / 1;
	cursor: pointer;
	margin-right: 8px;
}

@media screen and (max-width: 725px) {
	.actions {
		padding-inline: 20px;
	}
}

@media screen and (max-width: 625px) {
	.fileModal > main {
		flex-direction: column;
		align-items: center;
	}

	.menu {
		flex-direction: row;
		width: 100%;
		max-height: 35%;
		padding-block: 0;
	}

	.menu > * {
		width: 50%;
	}
}

@media screen and (max-width: 470px) {
	.fileModal > main {
		padding: 5px;
	}

	.actions {
		padding-inline: 10px;
	}

	.menu table {
		font-size: 14px;
	}
}
