.button {
	transition: var(--transition);
	aspect-ratio: 1 / 1;
	height: 100%;
	width: fit-content;
	outline: 1px solid var(--gray);
	background-color: transparent;
	border: none;
	border-radius: 0;
	padding: 5px 10px 5px 10px;
}

.button:hover {
	background-color: var(--lightgray);
}

.button:disabled {
	color: var(--darkgray);
}
