.actionsMenu a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 15px 5px 15px;
	margin-top: 10px;
	color: var(--darkgray);
	outline: 1px solid var(--darkgray);
	text-decoration: none;
	font-size: 10pt;
}
